__pycache__/
*.pyc
*.pyo
*.pyd

venv/
env/
.venv/
reanai_env/

.env

.vscode/
.idea/

.DS_Store
Thumbs.db

data/images/
data/train_lines/
data/train_line_labels/
data/raw_pdfs/
data/train_pdfs/
data/eval_pdfs/
data/processed_images/

models/*.pth
!models/crnn_epoch_50.pth

results/*.txt
!results/metrics.txt

*.log
*.tmp